body {
    height: 100vh;
}

.special-row {
    height: 94%;
}

.body-height {
    height: 94%;
}

.background-container {
    border: none;
    background-color: rgb(217, 235, 235);
}

.navbar {
    background-color: rgb(217, 235, 235);
}

.folders-column {
    border: none;
    background-color: rgb(217, 235, 235);
}

.mail-text-column {
    border: none;
}

.mail-text-container {
    border: none;
}

.mail-column {
    border: none;
}

.text-column {
    border: none;
}